.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.activities-container {
  position: relative;
  background-color: rgb(170, 185, 233);
}
.icon {
  color: crimson;
  font-size: 30px;
}
.activities-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.activity-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: auto;
  width: 90%;
  margin-top: 30px;
}
.calculation-container {
  position: sticky;
}

@media only screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .activity-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .activity-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
